<a href="">Sort by name</a>
<a href="/fruits?sort_by=price">Sort by price</a>
<a href="">Sort by description</a>

<h1>All Fruits</h1>
<% @fruits.each do |fruit| %>
  <h2><%= fruit.name %></h2>
  <p><%= number_to_currency(fruit.price) %></p>
  <p><%= image_tag fruit.image, class: "fruit-image" %></p>
  <p><%= fruit.description %></p>
  <p><a href="/fruits/<%= fruit.id %>" data-method="delete" data-confirm="Are you sure you want to delete this?">Delete</a></p>
<% end %>